* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    width: 1000px;
    height: auto;
    background-color: black;
    color: white;
}

.contact_card {
    background-color: white;
    color: black;
    text-align: center;
    border: 6px solid grey;
    border-radius: 10px;
}

